@import '../../../styles.scss';


.btn-color {
    background-color: var(--button-background-color);
    color: #fff;
}

mat-icon {
    margin: 0px 15px;
}

mat-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}


@media (max-width: 960px) {
    .cardResponsive {
        margin-top: 150px;
    }
    .table-container {
        overflow-x: auto;
        width: 100%;
    }
}


.mat-mdc-table {
    width: 100%;
    max-height: 500px;
    overflow: auto;
}

.mat-column-name {
    height: 100px;
}

th,td{
    text-align: center;
}
