<div class="container">
  <mat-card class="loginContainer">
    <h1>Login To Volunteer</h1>
    <p class="account">Manage your Volunteer Account</p>
    <mat-card-content>
      <form #CreateEvent="ngForm">
        <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
          <mat-form-field [floatLabel]="labels.floatLabel" fxFlex="100" fxFlex.lt-md="100" fxFlex.lt-sm="100"
            appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" name="typeCode" id="typeCode" [(ngModel)]="loginObject.username"
              required>
          </mat-form-field>

          <mat-form-field [floatLabel]="labels.floatLabel" fxFlex="100" fxFlex.lt-md="100" fxFlex.lt-sm="100"
            appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" name="typeCode" id="typeCode"  [(ngModel)]="loginObject.password"
              required>
          </mat-form-field>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 10px;">
          <button mat-raised-button class="btn-color" [ngStyle]="{'opacity': !CreateEvent.form.valid ? '0.5' : '1'}" [disabled]="!CreateEvent.form.valid" (click)="SignIN();">Login</button>
        </div>
        <div class="forgottenContainer">
          <p class="Forgotten">Don't you have an account?</p>
          <p class="message"> <a routerLink="/signup" (click)="SignIn = false">Create an account</a></p>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>